@font-face {
  font-family: 'Century Gothic';
  src: url('../public/century-gothic.ttf');
}
/* pre defined items*/
*{
  font-family: 'Century Gothic'
}

:root {
  --static: #ffffff;
  --primary: #e22501;
  --secondary: #000000;
}
:root{
  --header: 60px;
  --text: 12px;
}
/* Skill bar*/
#skill{
  margin: auto;
  background-color: var(--static); 
  padding: 20px;
  width: 65%;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.me {
  color: red;
}
/* Header style */
.erick{
  color: var(--primary);
}
.container1 .water,
.container2 .water,
.container5 .water {
  background-color: var(--primary); 
}

.container1 .unsettled-water,
.container2 .unsettled-water,
.container5 .unsettled-water {
  background-color: pink;
}

.container1 .percentage,
.container2 .percentage,
.container5 .percentage {
  background-color: var(--static);
}

.container3 .water,
.container4 .water {
  background-color: var(--static);
}

.container3 .unsettled-water,
.container4 .unsettled-water {
  background-color: lightblue;
}

.container3 .percentage,
.container4 .percentage {
  color: black;
}
.container1 {
  width: 350px;
  height: 334px;
  background-color: var(--static);
  position: relative;
  color: black;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.container2 {
  width: 103px;
  height: 207px;
  position: relative;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--static);
}
.container3 {
  width: 103px;
  height: 127px;
  position: relative;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ecf3fd;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff;
}
.container4 {
  width: 246px;
  height: 95px;
  position: relative;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ecf3fd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.container5 {
  width: 212px;
  height: 95px;
  position: relative;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-left: -108px;
  box-shadow: 0 2px 4px r(0, 0, 0, 0.2);
  background-color: #fff;
}

.water {
  width: 100%;
  position: absolute;
  bottom: 0;
  animation: fill 3s linear forwards;
}

.unsettled-water {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: lightblue;
  animation: unsettle 2s linear infinite;
  opacity: 0;
}

.percentage {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
}

.text-top {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #000;
}

.masonry-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-flow: dense;
  width: 40%;
}

.masonry-item {
  position: relative;
}

@keyframes fill {
  0% {
    height: 0;
  }
  70% {
    height: 70%;
  }
  100% {
    height: 70%;
  }
}

@keyframes unsettle {
  0%, 100% {
    transform: translateY(0);
  }
   50% {
    transform: translateY(-5px);
  }
}

.row-container {
  display: flex;
  align-items: center;
  padding: 50px;
  width: 117%;
}

.left-content {
  width: 30%;
  padding: 20px;
  margin: auto;

}

.heading {
  font-size: var(--header);
  font-weight: bold;
  color: #fff;

}

.text {
  margin-top: 12px;
  line-height: 1.5rem;
  color: var(--static);
}

.buttons {
  margin-top: 20px;
}

.right-content {
  width: 50%;
}

.button1{
  padding: 1em 2em;
  background-color: var(--primary); 
  color: var(--static);
  border-radius: 6px;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  font-weight: bold;
  border-style:none ;
  margin-right: 10px;
}
.button2{
  padding: 1em 2em;
  background-color: var(--static);
  color: var(--secondary);
  border-radius: 6px;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  font-weight: bold;
  border-style:none ;
  margin-right: 10px;

}

/* medaia query */
@media (max-width: 768px) {
.row-container {
flex-direction: column;
align-items: flex-start;
}

.left-content {
width: 100%;
text-align: center;
display: inline-block;
font-size: 18px;
z-index: 2;
}

.right-content {
width: 100%;
margin-top: 20px;
}

.masonry-container {
width: 100%;
grid-template-columns: 1fr;
}

.masonry-item {
width: 100%;
}
}