/* @font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/Century Gothic.ttf') format('truetype');
} */



body {
  margin: 0;
  background-color: #1a1a1a;
   font-family: 'Century Gothic', Arial, sans-serif;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
